 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div style = "position:relative; left:80px; top:50px;">  
                            <img src="img/LeviT.png" width="75%" align="middle" >
                        </div>

                </div>
                <div class="col-lg-4">
                    <h3>Brief Overview </h3> My name is Levi Todes, I was born and raised in Cape Town, South Africa. I grew up, as do many Cape Townians, in love with the outdoors and more often than not you can find me enjoying the Mountains and Oceans that Cape Town provides!
                    I did my undergraduate in Mechatronics Engineering at the University of Cape Town before heading to Chicago, USA to complete my Masters in Robotics Engineering at Northwestern University. I then spent some time working in a Mechatronics Design role that taught me a lot about electro-mechanical design of robots as a product. This role spanned embedded software engineering and design, mechanical design as well as basic electrical design. 
                    <br></p>

                    <p><h3>Looking Forward! </h3> 
                     I am now back home in Cape Town looking for interesting roles that will challenge me and allow me learn new skills. I am particularly looking for roles involving Embedded Software as I believe I have both a lot to contribute as well as learn in that area!
                     <br>

                     </p>
                </div>
                <div class="col-lg-4">
                    <p><h3>Projects</h3> Please see some of my projects worked on during my years of study in the <a href="#portfolio" target="_blank" style="color: white" text-decoration: underline>Portfolio</a> section above!</p>
	                <h3>Education </h3> <ul><li>Bachelor of Science in Engineering Mechatronics - University of Cape Town (Graduated Dec 2017.)</li><li>Master of Science in Robotics - Northwestern University (Graduated Dec 2019.)</li></ul>
                    <p><h3>Experience </h3> <ul><li> Trossen Robotics | Robotics/Mechatronics Engineer - (August 2019 - June 2021)</li><li> NxR Lab (Northwestern University) | Research Assistant - (July - August 2019)</li><li> Balancell | Mechatronics Engineer - (May - August 2018)</li><li>Bioelectronics and Neuroscience (BENS) Research Group | Intern  - (Nov – Dec 2016) </li></ul> For more information about this experience please see my resume (button below).<br></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/Levi_Todes.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="Resume-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>