 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="img/LeviT.png" width="58%" align="middle"><h3>Brief Overview </h3> My name is Levi Todes, I was born and raised in South Africa. I grew up in Cape Town which means I spent a lot of time outdoors. I enjoy most sports and outdoor activities, with a particular interest in Football, Hiking, Surfing, Cricket, Rugby, Golf and Cycling. I moved to Chicago in August 2018 and am currently completing my Masters in Robotics at Northwestern University. I did my undergraduate degree in mechatronics at the University of Cape Town and I particularly enjoy digital electronics, programming and creating things with my hands!<br></p>
                </div>
                <div class="col-lg-4">
	                <h3>Education </h3> <ul><li>Bachelor of Science in Engineering Mechatronics - University of Cape Town (Graduated Dec 2017.)</li><li>Master of Science in Robotics - Northwestern University (Expected Graduation Dec 2019)</li></ul>
                    <p><h3>Experience </h3> <ul><li> Trossen Robotics | Robotics Engineering Intern - (August - September 2019)</li><li> NxR Lab (Northwestern University) | Research Assistant - (July 2019)</li><li> Balancell | Mechatronics Engineer - (May - August 2018)</li><li>Bioelectronics and Neuroscience (BENS) Research Group | Intern  - (Nov – Dec 2016) </li><li>Cape Peninsula University of technology | Practical Training  - (Nov 2014) </li></ul> For more information about this experience please see my resume (button below).<br></p>
                </div>
                <div class="col-lg-4">
                	<p><h3>What I am up to at the moment </h3> I am currently still completing my Masters degree. The courses I have taken include<span>&#58;</span> Embedded Systems, Robotic Manipulation, Machine Dynamics, Computational Photography, Introduction to Mechatronics, Introduction to Feedback Systems, Connected and Autonomous Vehicles, Advanced Mechatronics, Geospatial Vision and Visualization and Machine Learning-Foundations, Applications, and Algorithms. 
                    <br>I recently spent the summer first working as a research assistant in the Neurocscience and Robotics Laboratory at Northwestern.<br> Following that I worked as a Robotics Engineering Intern at Trossen Robotics where my roles included assisting with ROS architechture, ROS implementation and CAD for Robotic arms.
                    <br> <h4>Current Projects</h4> As part of the final quarter of my masters degree my final project is under the supervision of Professor Dan Brown. The project involves the automation of a manufacturing process for a product called the Bionic Wrench. More information about the project will be posted as it happens over <a href=https://github.com/LeTo37/Bionic_Wrench_Automation_Project style="color:#FFFFFF;">here.</a></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/Levi_Todes.pdf" class="btn btn-lg btn-outline">
                        <i class="Resume-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>